services:
  db-testy:
    image: mariadb:10.11
    container_name: testy-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-strongpassword123}
      MYSQL_DATABASE: testy_db
    volumes:
      # Mapujemy folder ./db_data na dysku serwera do kontenera
      - ./db_data:/var/lib/mysql 
    networks:
      - internal-testy

  app-testy:
    build: .
    container_name: testy
    restart: always
    ports:
      - "8501:8501"
    environment:
      - DB_HOST=db-testy
      - DB_USER=root
      - DB_PASSWORD=${DB_PASSWORD:-strongpassword123}
      - DB_NAME=testy_db
    volumes:
      # Mapujemy folder ./uploads na dysku serwera
      - ./uploads:/app/uploads
    depends_on:
      - db-testy
    networks:
      - internal-testy
      - web

networks:
  internal-testy:
    driver: bridge
  web:
    external: true
    name: lizmap-dc-ssl_default